apiVersion: v1
kind: Service
metadata:
  name: adguard-home
  namespace: adguard
  labels:
    app.kubernetes.io/name: adguard-home
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: adguard-home
  ports:
    - name: dns-tcp
      port: 53
      targetPort: 53
      nodePort: 30053
      protocol: TCP
    - name: dns-udp
      port: 53
      targetPort: 53
      nodePort: 30053
      protocol: UDP
    - name: http-initial
      port: 3000
      targetPort: 3000
      nodePort: 30030
      protocol: TCP
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      nodePort: 30444
      protocol: TCP
    - name: dns-tls
      port: 853
      targetPort: 853
      nodePort: 30853
      protocol: TCP
